/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image: url(/assets/texture-brown.jpg);
	font-family: "American Typewriter";
	font-weight: lighter;
	color: #4b4642;
}

h6 {
	font-size: 24px;
	padding-top: 10px;
    padding-left: 15px;
    letter-spacing: 1.7px;
    font-weight: lighter;
    color: black;

}

h1 {
	font-size: 20px;
    letter-spacing: 1.7px;
    font-weight: normal;
    //text-align: left;
    //padding-left: 25px

}

header {

  background-image: url(/assets/coffee_experiments_header.jpg);
  width: 800px;
  height: 237px;
  background-size: 100%;
  margin: auto;
}

nav {
	position: absolute;
	width: inherit;
	top: 180px;
	text-align: center;
	letter-spacing: 1.5px;

}



a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	color: #4b4642;
	text-decoration: none;
}

table {
	width: 90%;
	margin: auto;
	height: 55px;
}

td.current {
	background-image: url(/assets/coffee-experiments-glasses.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 60%;
    opacity: 1


}

td.current > a {
	font-weight: normal; 

}

td {
	width:25%;
	vertical-align: bottom;
	opacity: 0.8;
}

* {
	margin:0;
	padding: 0;
	font-weight: normal;
}

article {

  background-image: url(/assets/coffee_experiments_paper.jpg);
  width: 800px;
  background-size: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
  color: #4b4642;
  margin: auto;
	
}

div {
	height: 300px;
	position: relative;
	top: 29px;
	text-align: center;

}

footer {

  background-image: url(/assets/coffee_experiments_edge.png);
  width: 800px;
  height: 66px;
  background-size: 100%;
  position: relative;
  top: 15px;
}



#navi{
    list-style:none;
    font-weight:lighter;
    margin-bottom:10px;
    <span class="code-comment">/* Clear floats */</span>
    float:left;
    width:100%;
    <span class="code-comment">/* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */</span>
}
 
#navi li{
    float:left;
    margin-right:10px;
    position:relative;
}
#navi a{
    display:block;
    padding:5px;
    background-image: url(/assets/coffee_experiments_paper.jpg);
    text-decoration:none;
}
#navi a:hover{
	color:#fff;
    background:#4b4642;
    font-weight: bold;
}

<span class="code-comment">/*--- DROPDOWN ---*/</span>

#navi ul{
    background:#fff; <span class="code-comment">/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */</span>
    background:rgba(255,255,255,0); <span class="code-comment">/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */</span>
    list-style:none;
    position:absolute;
    left:-9999px; <span class="code-comment">/* Hide off-screen when not needed (this is more accessible than display:none;) */</span>
}
/*
#navi ul li{
    padding-top:1px; <span class="code-comment">/* Introducing a padding between the li and the a give the illusion spaced items */</span>
    float:none;
}
/*
#navi ul a{
    white-space:nowrap; <span class="code-comment">/* Stop text wrapping and creating multi-line dropdown items */</span>
}
/*
#navi li:hover ul{ <span class="code-comment">/* Display the dropdown on hover */</span>
/*
    left:0; <span class="code-comment">/* Bring back on-screen when needed */</span>
}
/*
#navi li:hover a{ <span class="code-comment">/* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */</span>
/*
    background:#6b0c36;
    text-decoration:underline;
}
/*
#navi li:hover ul a{ <span class="code-comment">/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */</span>
 /*
   text-decoration:none;
}
#/*
navi li:hover ul li a:hover{ <span class="code-comment">/* Here we define the most explicit hover states--what happens when you hover each individual link. */</span>
 /*
   background:#333;
}</code>

/*
<code>#nav ul{
    background:#fff; <span class="code-comment">/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */</span>
/*
    background:rgba(255,255,255,0); <span class="code-comment">/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */</span>
/*
    list-style:none;
    position:absolute;
    left:-9999px; <span class="code-comment">/* Hide off-screen when not needed (this is more accessible than display:none;) */</span>
/*
}</code>

<code>#nav ul li{
    padding-top:1px; <span class="code-comment">/* Introducing a padding between the li and the a give the illusion spaced items */</span>
/*
    float:none;
}
/*
#nav ul a{
    white-space:nowrap; <span class="code-comment">/* Stop text wrapping and creating multi-line dropdown items */</span>
}
/*
#nav li:hover ul{ <span class="code-comment">/* Display the dropdown on hover */</span>
/*
    left:0; <span class="code-comment">/* Bring back on-screen when needed */</span>
/*
}</code>

<code>#nav li:hover a{ <span class="code-comment">/* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */</span>
/*
    background:#6b0c36;
    text-decoration:underline;
}</code>