/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background: black;
}


header {

  background-image: url(/assets/coffee_experiments_header.jpg);
  width: 800px;
  height: 237px;
  background-size: 100%;
}

nav {
	font-family: "American Typewriter";
	position: relative;
	top: 210px;
	left: 25px;
	text-align: center;
	text-decoration: none;
	
}

}

a:link {
	color: #4b4642;
	text-decoration: none;
}

a:visitied {
	color: #4b4642;
	text-decoration: none;
}

article {

  background-image: url(/assets/coffee_experiments_paper.jpg);
  width: 800px;
  background-size: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: "American Typewriter";
  color: #4b4642;
	
}

div {
	height: 800px;
	position: relative;
	top: 29px;
	text-align: center;

}

footer {

  background-image: url(/assets/coffee_experiments_edge.png);
  width: 800px;
  height: 66px;
  background-size: 100%;
  position: relative;
  top: 15px;
}