/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image: url(/assets/texture-brown.jpg);
	font-family: "American Typewriter";
	font-weight: lighter;
	color: #4b4642;
}

h6 {
	font-size: 24px;
	padding-top: 10px;
  padding-left: 15px;
  letter-spacing: 1.7px;
  font-weight: lighter;
  color: black;

}

p {
  margin: 6px;
  padding-left: 33px;
  padding-right: 33px;
  text-align: justify;
  line-height: 2.1;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
}

h1 {
	font-size: 20px;
  letter-spacing: 1.7px;
  font-weight: normal;

}

h2 {
  font-size: 20px;
  letter-spacing: 1.7px;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 28px;

}

h3 {
  font-size: 16px;
  letter-spacing: 1.7px;
  font-weight: normal;
  padding-top: 28px;
}

header {

  background-image: url(/assets/coffee_experiments_header.jpg);
  width: 800px;
  height: 237px;
  background-size: 100%;
  margin: auto;
}

nav {
	position: absolute;
	width: inherit;
	top: 180px;
	text-align: center;
	letter-spacing: 1.5px;

}

a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	color: #4b4642;
	text-decoration: none;
}

table {
	width: 90%;
	margin: auto;
	height: 55px;
}

td.current {
	background-image: url(/assets/coffee-experiments-glasses.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 60%;
    opacity: 1


}

td.current > a {
	font-weight: normal; 

}

td:hover {
  opacity: 1;
}

td {
	width:25%;
	vertical-align: bottom;
	opacity: 0.8;
}

* {
	margin:0;
	padding: 0;
	font-weight: normal;
  list-style: none;
}

article {

  background-image: url(/assets/coffee_experiments_paper.jpg);
  width: 800px;
  background-size: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
  color: #4b4642;
  margin: auto;
  padding-top: 28px;
	
}

div {
	height: 300px;
	top: 29px;
	text-align: center;

}

footer {

  background-image: url(/assets/coffee_experiments_edge.png);
  width: 800px;
  height: 66px;
  background-size: 100%;
  
}


ul li {
  display: block;
  float: left;
}

li ul {
  display: none;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 10px 5px 10px;
  background: #4b4642;
  white-space: nowrap;
  margin-left: 10px;
}

ul li a:hover {
  color: white;
  background:#4b4642;
}

li:hover ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
  font-size: 11px;
}

li:hover li a:hover {
  background: #867d74;
}


div table {

  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

div table td {
  width:auto;
  height: 56px; 
}

