* {
  margin:0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  color: #4b4642;
  text-decoration: none;

}

article {

  background-image: image-url("coffee_experiments_paper.jpg");
  width: 800px;
  background-size: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
  color: #4b4642;
  margin: auto;
  padding-top: 28px;
  
}

article > div {
  background-color: rgba(255,255,255,0.8);
  top: 20px;
  text-align: center;
}

body {
	background-image: image-url("texture-brown.jpg");
	font-family: "American Typewriter";
	font-weight: lighter;
	color: #4b4642;

}

div.brewimage {
  float: left; 
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 20px;

}

div.grid {
  background-image: image-url("background-variables-coffee-experiments.png");
  width: 800px;
  height: 794px;
  position: relative;
}

div table {
  font-family: "Apple Symbols";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 33px;

}

div table td {
  width: 80px;
  height: 45px;
  border-left:1px solid black;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  vertical-align: top;
}

div table td:last-child {
  width: auto;
}

div table td:first-child, div table th:first-child {
  border-left: none;
}

div table th {
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  padding-top: 6px;
  font-family: "American Typewriter";
  font-size: 14px;
  border-left:1px solid black;
  text-align: center;
}

div table th:last-child {
  text-align: left;
  padding-left: 32px;
}

footer {
   background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0));
}

footer > div{
  background-image: image-url("coffee_experiments_edge.png");
  width: 800px;
  height: 66px;
  background-size: 100%;
  position: relative;
  top: 20px;
}

header {
  background-image: image-url("coffee_experiments_header.jpg");
  width: 800px;
  height: 237px;
  background-size: 100%;
  margin: auto;
}

h1 {
  font-size: 20px;
  letter-spacing: 1.7px;
  font-weight: normal;

}

h2 {
  font-size: 20px;
  letter-spacing: 1.7px;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  left: 20px;

}

h3 {
  font-size: 16px;
  letter-spacing: 1.7px;
  font-weight: normal;
  padding-top: 28px;
}

h4 {
  font-size: 20px;
  letter-spacing: 1.7px;
  font-weight: normal;
  padding-top: 40px;

}

h5 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: normal;
}

h6 {
	font-size: 24px;
	padding-top: 10px;
  padding-left: 15px;
  letter-spacing: 1.7px;
  font-weight: lighter;
  color: black;

}

li:hover ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
  font-size: 11px;
}

li:hover li a:hover {
  background: #867d74;
}

li ul {
  display: none;
}

nav {
	position: absolute;
	width: inherit;
	top: 180px;
	text-align: center;
	letter-spacing: 1.5px;
  height: 85px;
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8));
}

p {
  margin: 6px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 20px;
  text-align: justify;
  line-height: 16pt;
  font-family: "Apple Symbols";
  font-size: 16px;
  margin-bottom: 0px;
  letter-spacing: 1px;

}

p:first-letter {
  font-size: 200%;
  float: left;
  line-height: .9;
  font-family: "American Typewriter";
  margin-right: 1px;
}

p.grid {
  padding-top: 0px;
  padding-bottom: 0px;

}

p.footer {
  margin: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: justify;
  line-height: 16pt;
  font-family: "Apple Symbols";
  font-size: 16px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  text-align: center;
}

table.nav {
	width: 90%;
	margin: auto;
	height: 55px;
}

table.nav td.current {
    background-image: image-url("coffee-experiments-glasses.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 60%;
    opacity: 1

}

table.nav td.current > a {
	font-weight: normal; 

}

table.nav td:hover {
  opacity: 1;
}

table.nav td {
	width:25%;
	vertical-align: bottom;
	opacity: 0.8;
}

ul li {
  display: block;
  float: left;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 10px 5px 10px;
  background: #4b4642;
  white-space: nowrap;
  margin-left: 10px;
}

ul li a:hover {
  color: white;
  background:#4b4642;
}



